.modal-overlay {
    position: fixed;
    inset: 0;
    display:flex;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    backdrop-filter: blur(0px);
    transition: backgrop-filter .3s ease, opacity 0.3s ease, visibility .3s ease;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
    
}

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    backdrop-filter: blur(4px);
}

.modal-content {
    background: #fff;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

.modal-image img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.modal-info h2 {
    margin-bottom: 10px;
}

.modal-info p {
    margin-bottom: 10px;
}

.modal-details li {
    margin-bottom: 6px;
}
.modal-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.modal-description{
    font-size: 1.6rem; /* o 1.125rem, 18px, lo que quieras */
}
/* RESPONSIVE */
@media (min-width: 768px) {
    .modal-content {
        flex-direction: row;
        max-width: 900px;
        gap: 20px;
    }

    .modal-image, .modal-info {
        flex: 1;
    }

    .modal-image img {
        max-height: 400px;
        object-fit: cover;
    }
}

@media (min-width: 1024px) {
    .modal-content {
        max-width: 1100px;
        padding: 40px;
    }

    .modal-image img {
        max-height: 500px;
    }
}