/* BASE */
@import url('./base/variables.css');
@import url('./base/reset.css');
@import url('./base/typography.css');

/* LAYOUT */
@import url('./layout/header.css');
@import url('./layout/footer.css');
@import url('./layout/animations.css');

/* COMPONENTS */
@import url('./components/buttons.css');
@import url('./components/cards.css');
@import url('./components/forms.css');

/* PAGES */
@import url('./pages/home.css');
@import url('./pages/about.css');
@import url('./pages/gallery.css');
@import url('./pages/contact.css');